@font-face {
    font-family: ANT-Regular;
    src: url(../scripts/AvenirNextLTPro-Regular.otf);
  }
  
  @font-face {
    font-family: ANT-Demi;
    src: url(../scripts/AvenirNextLTPro-Demi.otf);
  }
  
  @font-face {
    font-family: ANT-Bold;
    src: url(../scripts/AvenirNextLTPro-Bold.otf);
  }

  @font-face{
    font-family: ANT-Light;
    src: url(../scripts/AvenirNextLTPro-Light.otf);
  }
  @font-face{
    font-family: ANT-Thin;
    src: url(../scripts/AvenirNextLTPro-Thin.otf);
  }